@font-face {
    font-family: "FuturaPT_regular";
    src: url("../../resources/fonts/Futura_PT/Futura_PT_Book.otf") format("opentype");
}

@font-face {
    font-family: "FuturaPT_H1";
    src: url("../../resources/fonts/Futura_PT/Futura_PT_Bold.otf") format("opentype");
}

@font-face {
    font-family: "FuturaPT_H2";
    src: url("../../resources/fonts/Futura_PT/Futura_PT_Bold.otf") format("opentype");
}

@font-face {
    font-family: "FuturaPT_H3";
    src: url("../../resources/fonts/Futura_PT/Futura_PT_Demi.otf") format("opentype");
}

@font-face {
    font-family: "FuturaPT_Annotations";
    src: url("../../resources/fonts/Futura_PT/Futura_PT_Light.otf") format("opentype");
}

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}


body {
    font-family: "FuturaPT_regular", sans-serif;
    background-color: #dce0e4;
}

h1 {
    font-family: "FuturaPT_H1", sans-serif;
}

h2 {
    font-family: "FuturaPT_H2", sans-serif;
}

h3,
h4 {
    font-family: "FuturaPT_H3", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    /* Centrer verticalement le contenu */
}


.hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('../../resources/mainscreen.webp') no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Ajustez l'opacité selon vos besoins */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 56px;
    /* Vous pouvez ajuster selon le responsive design */
}

.hero-content h3 h4 {
    font-size: 33px;
    margin-bottom: 1em;
}

.hero-content button {
    padding: 1em 2em;
    font-size: 19px;
    border: none;
    border-radius: 2em;
    background-color: #5abebd;
    /* même couleur de fond que les autres boutons */
    color: white;
    /* même couleur de texte */
    cursor: pointer;
    transition: all 0.5s ease;
}

.hero-content button:hover {
    background-color: black;
    /* couleur au survol */
    color: white;
}


.main_section_404 {
    background-size: cover;
    flex: 1;
    /* Permet à la section de prendre tout l'espace restant */
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    /* Mettre en dessous de la navbar */
    padding-top: 10em;
    text-align: center;
}

.conditions-header h1 {
    text-align: center;
    margin-bottom: 1em;
    color: black;
}

.conditions-generales {
    margin: auto;
    padding: 2em;
    font-family: 'Futura_PT', sans-serif;
    line-height: 1.6;
    color: #333;

    h2 {
        font-size: 1.5em;
        color: #333;
        margin-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
        padding-bottom: 0.3em;
    }

    ;

    h1 {
        font-size: 2em;
        text-align: center;
        color: black;
    }
}


.condition-section {
    margin-bottom: 2em;
}


.condition-section ul {
    list-style: disc inside;
    margin-left: 1em;
}

.condition-section ul li {
    margin-bottom: 0.5em;
}


.image-404 {
    max-width: 300px;
    /* Taille fixe, ajustable selon tes besoins */
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


h1 {
    font-size: 56px;
}

h2 {
    font-size: 47px;
}

h4 {
    font-size: 33px;
}

h5 {
    font-size: 27px;
}

h6 {
    font-size: 23px;
}

p {
    font-size: 19px;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
}

main h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 5% 10% 3%;
}

main h4 {
    color: #eee;
    text-align: center;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
}

/*------------------configuration de la section nos réparations-----------------*/
.nos_reparations {
    height: 55em;
}

.container_article_rep {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titre_rep {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.titre_rep_light {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

hr {
    background-color: #5abebd;
    height: 0.5em;
    width: 12em;
    border-radius: 1em;
    margin: auto auto 5em;
    border-style: none;
}

.art_rep {
    width: 20em;
    height: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    padding: 2em;
    background-color: white;
    text-align: center;
    border-radius: 2em;
}


.art_rep h2 {
    padding: 0.5em;
}

.art_rep p {
    line-height: 1.7em;
}

/*------------------configuration de la section nos services-----------------*/
.nos_services {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url('../../resources/cpu.webp') no-repeat center center;
    background-size: cover;
    padding: 1em;
    height: 55em;
}

.art_service {
    width: 20em;
    height: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    padding: 2em;
    display: block;
    flex-direction: column;
    background-color: white;
    text-align: center;
    border-radius: 2em;
}

.art_service h2 {
    padding: 0.5em;
}

.art_service p {
    line-height: 1.7em;
}

section a {
    text-decoration: none;

    button {
        transition: all 0.5s ease;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        border-radius: 2em;
        background-color: black;
        width: 10em;
        height: auto;
        margin-bottom: 1em;
        text-decoration: none;
        font-weight: bold;
        text-wrap: nowrap;
        color: white;
        border-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        cursor: pointer;
    }
}

button:hover {
    color: black;
    background-color: #5abebd;
    text-wrap: nowrap;
}

/*------------------configuration de la section nos services-----------------*/


.container_article_service {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*--------------configuration de la section de Comment procéder---------------*/
.Procedure {
    height: 55em;
}

.container_article_process {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 19px;
}

.case {
    width: 20em;
    height: 20em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    text-align: center;
    border-radius: 2em;
    color: white;
}

.caseArticle_devis {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('../../resources/devis_sign.webp');
}


.caseArticle_dep {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('../../resources/camionnette.webp');
    background-size: cover;
}

.caseArticle_inter {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('../../resources/mobile-repear.webp');
    background-size: cover;
}

.caseArticle_fin {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('../../resources/animeMaterialoffice.webp');
    background-size: cover;
}

/*--------------------------------CONTACT-----------------------------------------------*/

.couleurdefond {
    background-color: #f6f6f6;
}

.grid_contact_map {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
    justify-content: center;
}

.contact_col {
    width: 50%;
    font-style: normal;

    .info {
        margin: 1em 1em 3em;

        a {
            color: #5abebd;
        }
    }

    .map {
        border: 2px solid #ddd;
        /* Ajouter une bordure légère */
        border-radius: 10px;
        /* Bordure arrondie */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Ombre portée */
        width: 85%;
        height: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }
}


/*ajuste media pour tout les section d'informations */
@media (max-width: 1630px) {

    .container_main {
        width: auto;
        text-align: center;
    }

    .nos_reparations {
        height: auto;
        width: auto;
    }

    .nos_services {
        height: auto;
    }

    .Procedure {
        height: auto;
    }
}


@media (max-width: 914px) {
    main h1 {
        font-size: 47px;
    }

    main h4 {
        font-size: 27px;
    }
}

@media (max-width: 600px) {
    main h1 {
        font-size: 32px;
    }

    main h4 {
        font-size: 20px;
    }
}


/*responsive contact + carte */
@media (max-width: 1024px) {
    .contact_col {
        width: 100%;
        margin-bottom: 30px;
    }
}


/* Section "À propos de nous" */
.about_us,
.fixit-section {
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 2em 0;
}

/* Conteneur de contenu */
.container_about,
.container_fixit {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    line-height: 1.8em;
    color: #333;
    font-size: 1.2em;
    margin: auto;
}

/* Texte "À propos" */
.about_text {
    padding-right: 2em;
    flex: 1 1 70%;
}

/* Photo "À propos" */
.about_photo {
    text-align: center;
    flex: 1 1 30%;
}

.about_photo img {
    width: 100%;
    max-width: 300px;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.about_photo img:hover {
    transform: scale(1.05);
}

/* Liens vers les CV */
.cv_links {
    margin-top: 1em;
}

.cv_links a {
    display: block;
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #20b2aa;
    color: white;
    text-decoration: none;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
}

.cv_links a:hover {
    background-color: #178f82;
}

/* Titres */
.container_about h2,
.container_fixit h2 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* Signature */
.container_about p.signature,
.container_fixit p.signature {
    text-align: right;
    font-style: italic;
    margin-top: 2em;
    color: #20b2aa;
    font-size: 1.1em;
}

/* Responsive Design */
@media (min-width: 768px) {

    .container_about,
    .container_fixit {
        flex-direction: row;
        text-align: left;
    }

    .about_text,
    .about_photo {
        width: 50%;
    }
}

@media (min-width: 1024px) {

    .container_about h2,
    .container_fixit h2 {
        font-size: 2.5rem;
    }

    .container_about p,
    .container_fixit p {
        font-size: 1.1rem;
    }
}

.main_about,
.main_fixit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em 2em 2em 2em;
    height: 100%;

    .logo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 2em;
        justify-items: center;
        align-items: center;
    }

    .logo-grid img {
        max-width: 100px;
        max-height: 60px;
        object-fit: contain;
        transition: transform 0.2s ease;
    }

    .logo-grid img:hover {
        transform: scale(1.1);
    }

    .cells-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        /* espace entre les cellules */
        padding: 2rem;
    }

    .cell-benefit {
        background: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cell-benefit img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .cell-benefit h3 {
        font-size: 1.25rem;
        margin: 0.5rem 0;
        text-transform: uppercase;
    }

    .contact-fixit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f9f9f9;
        /* couleur de fond optionnelle */
        padding: 1rem 1.5rem;
        border-radius: 6px;
        border: 1px solid #e0e0e0;
        max-width: 800px;
        /* ajuste selon ton design */
        margin: 2rem auto;
        /* centrer horizontalement */
    }

    .contact-text {
        margin: 0;
        font-size: 1.1rem;
        color: #333;
    }

    .contact-button {
        display: inline-block;
        padding: 0.6rem 1.2rem;
        background-color: #20b2aa;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border-radius: 4px;
        transition: background-color 0.2s ease;
    }

    .contact-button:hover {
        background-color: #20b2aa;
    }

    /* Centrer verticalement le contenu */
}

/* Container de la page de politique */
.privacy-policy {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* En-tête de la politique */
.policy-header {
    border-bottom: 2px solid;
    margin-bottom: 1em;
    text-align: center;
    color: black;
    padding: 2em;
}

.policy-header h1 {
    font-size: 2em;
    text-align: center;
    color: black;
}

/* Sections de contenu */
.policy-section {
    margin-bottom: 2em;
}

.policy-section h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3em;
}

.policy-section h3 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #555;
}

.policy-section p {
    margin-bottom: 1em;
    text-align: justify;
}

/* Listes à puces */
.policy-section ul {
    list-style: disc;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.policy-section ul li {
    margin-bottom: 0.5em;
}